{% extends 'base.html' %}

{% block title %}{{ product.name }} - Detail Produk{% endblock %}

{% block content %}
<div class="product-detail">
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p><strong>Harga: Rp {{ product.final_price }}</strong></p>
    <p>Stok: {{ product.stock_produk }}</p>
    <p>Diskon: {{ product.discount }}%</p>
    <p>Diskon Akhir: Rp {{ product.final_price }} (termasuk diskon)</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="add-to-cart">Tambahkan ke Keranjang</button>
    </form>
</div>
{% endblock %}
